body {
    background-color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-image: url('SuzukiCafe.jpg');
}

h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-bottom: 20px;
}

p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}
img{
    max-width: 100%;
    height: auto;
}
h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    text-align: left;
}
h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    margin: 0;
    padding: 0;
    text-align: center;
}
aside {
    width: 50%;
    padding-left: auto;
    margin-left: auto;
    float: right;
}
article {
    width: 50%;
    padding-left: auto;
    margin-left: auto;
    float: left;
}
section {
    width: 50%;
    padding-left: auto;
    margin-left: auto;
    float: left;
}
button {
    padding: 10px 20px;
    background-color: #0077b6;
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 10px;
}

button:hover {
    background-color: #02306c;
}